<%= link_to("Back to Parks", { :action => 'index'}, :class => 'back-link') %>

<div class="parks delete">
  <h2> Delete Park</h2>

  <%= form_for(:park, :url => { :action => 'destroy', :id => @park.id }) do |f| %>
    <p>Are you sure you want to permanently delete this event?</p>

    <p class="reference-name"><%= @park.id %> <%= @park.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Park") %>
    </div>

  <% end %>

</div>
