<% @header="Reviews" %>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <h2><%= link_to 'Add Column', new_park_path, class: "btn btn-primary" %></h2>
      <h2><a class="btn btn-primary" data-toggle="collapse" href="#reviewstable" aria-expanded="false" aria-controls="reviewstable">View Table</a></h2>
      <div id="reviewstable" class="table-responsive collapse">

        <table class="table table-striped" data-toggle="table" data-cache="false" data-height="400" data-pagination="true" data-search="true">

          <thead>

            <th><input type="checkbox" class="checkall" /></th>
            <th>Number</th>
            <th>Comment</th>
            <th>Rating</th>
            <th>Visitor ID</th>
            <th>Attraction Number</th>
          </thead>

          <tbody>

            <% @reviews.each do |review| %>
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td><%= review.number %></td>
              <td><%= review.comment %></td>
              <td><%= review.rating %></td>
              <td><%= review.visitor_id %></td>
              <td><%= review.attraction_number %></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Show"><button class="btn btn-primary btn-xs" data-title="Show" data-toggle="modal" data-target="#show" ><span class="glyphicon glyphicon-open"></span></button></p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
            </tr>

            <% end %>

          </tbody>

        </table>

        <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
