<% @header="Reviews" %>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12">

      <%= form_tag url_for(:controller => :reviews, :action => :index) , method: :get do %>
          <%= text_field :search, params[:search], :placeholder => "Search for Reviews", :class => "form-control smaller-box" %>
          <%= submit_tag "Search", name: nil, :class => "btn btn-primary new-submit-btn" %>
      <% end %>
      <div class="clear"></div>

      <h2><%= link_to 'Add New Tuple', new_review_path, class: "btn btn-primary" %></h2>
      <div id="reviewstable" class="table-responsive">

        <table class="table table-striped">

          <thead>
            <th><%= sortable "Number" %></th>
            <th><%= sortable "Comment" %></th>
            <th><%= sortable "Rating" %></th>
            <th><%= sortable "Visitor_name", "Visitor Name" %></th>
            <th><%= sortable "attraction_number", "Attraction Name - Park Name" %></th>
          </thead>

          <tbody>

            <% @reviews.each do |review| %>
            <% @visitor = Visitor.find_by id: review.visitor_id %>
            <% @attraction = Attraction.find_by id: review.attraction_number %>
            <% @park = Park.find_by id: @attraction.park_number %>
            <tr>
              <td><%= review.id %></td>
              <td><%= review.comment %></td>
              <td><%= review.rating %></td>
              <td><%= @visitor.name %></td>
              <td><%= @attraction.name %> - <%= @park.name %></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Show"><%= link_to raw('<span class="glyphicon glyphicon-open"></span>'), review_path(review), class: "btn btn-primary btn-xs" %></p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Edit"><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_review_path(review), class: "btn btn-primary btn-xs" %></p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete"><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), review_path(review), method: 'delete', data: { :confirm => "Are you sure you want to delete the review entry for review number (#{review.id})?" }, class: "btn btn-danger btn-xs" %></p></td>
            </tr>

            <% end %>

          </tbody>

        </table>

        <%= will_paginate @attractions %>

      </div>
    </div>
  </div>
</div>
