<section>
  <%= form_for @review  do |f| %>

    <div class="form-group">
      <label for="comment">Comment</label>
      <%= f.text_field(:comment, class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <%= f.text_field(:rating, class: 'form-control', :placeholder => "Rating from 1 to 10") %>
    </div>
    <div class="form-group">
      <label for="visitor_id">Visitor ID</label>
      <%= f.text_field(:visitor_id, class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="attraction_number">Attraction Number</label>
      <%= f.select( :attraction_number,  Attraction.all.map {|u| [u.name+' - '+(Park.find_by id: u.park_number).name,u.id]}, {:include_blank => "Select an Attraction (in 'Attraction - Park' format)"}, class: 'form-control') %>
    </div>
    <div class="form-buttons">
      <%= submit_tag("Add", class: 'btn btn-primary') %>
      <%= link_to("Back to Reviews", { :action => 'index'}, :class => 'back-link btn btn-primary') %>
    </div>

  <% end %>
</section>
