<div class="masthead clearfix">
  <div class="inner">

    <ul class="nav masthead-nav">
      <li><%= link_to "Home",           root_path %></li>
      <li><%= link_to "Parks",          parks_path %></li>
      <li><%= link_to "Attractions",    attractions_path %></li>
      <li><%= link_to "Transactions",   transactions_path %></li>
      <li><%= link_to "Visitors",       visitors_path %></li>
      <li><%= link_to "Reviews",        reviews_path %></li>
    </ul>
  </div>
</div>
