<!DOCTYPE html>
<html>
<head>
  <title>Amusement Parks Project</title>
  <link rel="shortcut icon" href="https://webcore.unm.edu/v1/images/unm.ico" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <%= render 'layouts/nav' %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
</body>
</html>
