<section>
  <%= form_for @attraction  do |f| %>

    <div class="form-group">
      <label for="name">Name</label>
      <%= f.text_field(:name, class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <%= f.text_field(:size, class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <%= f.select :category, options_for_select(["Rides", "Shows", "Exhibit", "Shop", "Hotel", "Restaurant", "Gift Shop "], @attraction.category), {:include_blank => "Select the Attraction type"}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="park_number">Park Number</label>
      <%= f.select( :park_number,  Park.all.map {|u| [u.name+' (Address: '+u.address+' )',u.id]}, {:include_blank => "Select a Park"}, class: 'form-control') %>
    </div>
    <div class="form-buttons">
      <%= submit_tag("Update", class: 'btn btn-primary') %>
      <%= link_to("Back to Attractions", { :action => 'index'}, :class => 'back-link btn btn-primary') %>
    </div>

  <% end %>
</section>
